@import url("reset.css");
@import url("superfish.css");
@import url("jquery-ui-1.8.1.custom.css");
/*@import url('skins/rockable/skin.css')*/
*,
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font: 14px 'Helvetica Neue', Arial;
  color: #484747;
  background: #eae7dc url("../img/bg.gif") no-repeat;
  border-top: 8px solid #d0b312 !important;
  margin: 0;
  padding: 0;
}
.container {
  width: 960px;
  margin: 0 auto;
}
a:link,
a:visited {
  color: #5c5a5a;
}
/* Header */
#header {
  display: block;
  height: 125px;
  background: #fff;
  z-index: -999;
}
#header .inner {
  padding-top: 30px;
}
#header .logo {
  float: left;
}
.sf-menu {
  float: right;
}
.social a {
  width: 33px;
  height: 35px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  text-indent: -10000px;
}
.social a:hover {
  background-position: 0 -40px;
}
/* Content */
#content .statement {
  font-size: 38px;
  font-weight: 400;
  text-align: center;
  color: #000;
}
/* Page */
.bread_crumbs a {
  color: #666;
  font-weight: bold;
}
#page {
  float: left;
  background: #fff;
  margin-bottom: 20px;
}
#page .inner {
  padding: 20px 0;
}
#page .entry {
  padding-bottom: 20px;
}
#page .entry .title {
  display: block;
  margin-bottom: 15px;
}
#page .entry .title h2 {
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 10px;
  color: #000;
}
#page .entry .title span {
  color: #999;
}
#page .entry p {
  margin-bottom: 20px;
  line-height: 25px;
}
#page .entry .image {
  border: 5px solid #eae7dd;
}
#page .entry .align-left,
#page .entry .alignleft {
  float: left;
  margin: 10px 15px 10px 0;
}
#page .entry .align-right,
#page .entry .alignright {
  float: right;
  margin: 10px 0 10px 15px;
}
#comments .count {
  padding-top: -5px;
  display: block;
  margin-bottom: 15px;
}
#comments .count h2 {
  background: #fff;
  font-size: 24px;
  font-weight: 400;
  color: #000;
  display: inline;
  padding: 0 15px;
}
#comments_list ul li {
  margin-left: 15px;
  padding-left: 15px;
  border-left: 2px solid #f2f1ea;
}
#comments_list li {
  margin-bottom: 20px;
  list-style: none;
}
#comments_list li .user_info img {
  float: left;
  margin: 0 10px 10px 0;
}
#comments_list li .user_info h3 {
  font-size: 20px;
  color: #c3c0b4;
  font-weight: 400;
  display: inline;
}
#comments_list li .user_info small {
  font-size: 10px;
  font-style: italic;
}
#comments_list li .user_info p {
  margin-top: 5px;
}
#comments_list li .user_info p a {
  text-decoration: underline;
}
#comments_list li .comment {
  clear: both;
  display: block;
  margin-top: 10px;
  line-height: 25px;
}
#comments_list li .comment p {
  line-height: 25px;
}
#respond h2 {
  font-size: 24px;
  font-weight: 400;
  color: #000;
  margin-bottom: 15px;
}
#respond form input,
#respond form textarea {
  padding: 8px;
  font: 14px 'Helvetica Neue', Arial;
  width: 150px;
  margin-bottom: 15px;
}
#respond form textarea {
  width: 492px;
  height: 200px;
  display: block;
}
::selection {
  background: #ca3119;
/* Safari */
  color: #fff;
}
::-moz-selection {
  background: #ca3119;
/* Firefox */
  color: #fff;
}
.home-top {
  background: #fff;
  padding: 0 10px;
  width: 100%;
  margin-left: -10px;
}
/* Sidebar */
#sidebar .project_details {
  margin-bottom: 15px;
}
#sidebar .project_details .avatar {
  background: #fff;
  padding: 5px 5px 3px;
  position: relative;
  margin-bottom: 15px;
}
#sidebar .project_details .avatar span {
  position: absolute;
  background: url("../img/slider/triangle.png") no-repeat bottom;
  padding-bottom: 13px;
  top: 15px;
  left: -10px;
  z-index: 10;
}
#sidebar .project_details .avatar span a {
  background: #fbd640;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
}
#sidebar .project_details p {
  line-height: 22px;
}
#sidebar .list_items {
  margin-bottom: 15px;
}
#sidebar .list_items h2 {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  margin-bottom: 10px;
}
#sidebar .list_items ul li {
  list-style-type: disc;
  margin-left: 17px;
}
#sidebar h2 {
  font-size: 20px;
  color: #000;
  font-weight: 400;
  margin-bottom: 10px;
}
/* Slider */
.ls-container {
  position: relative;
}
.ls-container .avatar {
  background: #fff;
  padding: 5px 5px 3px;
  position: relative;
}
.ls-container .avatar span {
  position: absolute;
  background: url("../img/slider/triangle.png") no-repeat bottom;
  padding-bottom: 13px;
  top: 15px;
  left: -10px;
  z-index: 10;
}
.ls-container .avatar span a {
  background: #fbd640;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
}
.ls-container p {
  margin-top: 25px;
  color: #484747;
  height: 125px;
  margin-bottom: 10px;
  line-height: 22px;
}
.ls-container .links {
  text-align: center;
}
.ls-container .more {
  padding: 8px;
  background: #fbd640;
  color: #000;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
}
.ls-container .links.hover {
  margin-top: -10px;
}
.ls-container .tags {
  margin-top: 15px;
  color: #666;
}
.ls-container .tags a {
  color: #666;
}
.pagination {
  text-align: center;
  margin: 10px 0;
}
.pagination a {
  background: #eee;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
}
.pagination a:hover {
  background: #dfdfdf;
}
.pagination a.current {
  background: #333 !important;
  color: #eee;
}
/* Sub Content */
#sub_content {
  background: #fff;
}
#sub_content .inner {
  padding: 30px 0;
}
#sub_content ul.columns li {
  width: 270px;
  _width: 260px;
  line-height: 22px;
  float: left;
  margin-left: 30px;
  margin-right: 20px;
}
#sub_content ul.columns li:last-child,
#sub_content ul.columns li.last {
  margin-right: 0;
}
#sub_content ul.columns li h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 25px;
}
#sub_content ul.columns li p {
  margin-bottom: 10px;
  color: #484747;
}
#sub_content ul.columns li div {
  margin-bottom: 10px;
}
#sub_content ul.columns li div span {
  color: #000;
  font-weight: 400;
  display: block;
}
#sub_content ul.columns li div p {
  margin-bottom: 0;
}
#sub_content ul.columns form.contact .alert {
  color: #ef4a4a;
}
#sub_content ul.columns form.contact input,
#sub_content ul.columns form.contact textarea {
  display: block;
  border: 1px solid #d3d3d2;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 8px;
  color: #ccc;
  font: 14px 'Helvetica Neue', Arial;
  width: 250px;
  margin-bottom: 15px;
}
#sub_content ul.columns form.contact textarea {
  height: 125px;
}
#sub_content ul.columns form.contact .button {
  padding: 8px;
  background: #fbd640;
  color: #000;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
  border: 0;
  width: auto;
  cursor: pointer;
}
/* Footer */
#footer {
  margin-top: 20px;
  clear: both;
}
#footer .links {
  float: left;
}
#footer p img {
  vertical-align: middle;
  margin-right: 10px;
}
#footer p.copy {
  float: right;
  margin-top: 20px;
  color: #484747;
}
#footer.alt .links {
  float: right;
  width: 100px;
}
#footer.alt p.copy {
  float: left;
  margin-top: 0;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}
html,
body {
  height: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}
b,
strong {
  font-weight: bold;
}
img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
ul,
ol {
  list-style: none;
}
li {
  display: list-item;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
sub,
sup,
small {
  font-size: 75%;
}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
svg {
  overflow: hidden;
}
body {
  font: 13px/1.5 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
}
pre,
code {
  font-family: "DejaVu Sans Mono", Monaco, Consolas, monospace;
}
hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}
ol {
  list-style: decimal;
}
ul {
  list-style: disc;
}
li {
  margin-left: 30px;
}
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 20px;
}
body {
  color: #333;
}
a {
  color: #00f;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
  padding-top: 20px;
}
.example-block {
  background: #eee;
  font-size: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 10px 0;
  text-align: center;
}
.grid-container > hr {
  margin-left: 10px;
  margin-right: 10px;
}
div[class*="push-"] section {
  background: #dec;
}
div[class*="pull-"] section {
  background: #fcd;
}
.dynamic-px-width {
  display: block;
}
.entry-content img {
  margin: 0 0 1.5em;
}
.alignleft,
img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
.alignright,
img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
.aligncenter,
img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}
.alignnone,
img.alignnone,
/* not sure about this one */,
.wp-caption {
  margin-bottom: 1.5em;
  text-align: center;
  padding-top: 5px;
}
.alignnone img,
img.alignnone img,
/* not sure about this one */ img,
.wp-caption img {
  border: 0 none;
  padding: 0;
  margin: 0;
}
.alignnone p.wp-caption-text,
img.alignnone p.wp-caption-text,
/* not sure about this one */ p.wp-caption-text,
.wp-caption p.wp-caption-text {
  line-height: 1.5;
  font-size: 10px;
  margin: 0;
}
.wp-smiley {
  margin: 0 !important;
  max-height: 1em;
}
blockquote.left {
  margin-right: 20px;
  text-align: right;
  margin-left: 0;
  width: 33%;
  float: left;
}
blockquote.right {
  margin-left: 20px;
  text-align: left;
  margin-right: 0;
  width: 33%;
  float: right;
}
/*----------------------------------------------------------------*/
/*-------------------------------Heading style ------------------*/
h1,
h2,
h2,
h3,
h4,
h5,
h6 {
  font-family: futuramc;
}
h1 {
  font-size: 1.5em;
  padding-top: 20px;
}
h1.font-large {
  font-size: 1.8em;
  color: #000;
}
h2 {
  font-size: 1.4em;
  padding-top: 20px;
}
h3 {
  font-size: 1.3em;
  font-family: futura_medium;
}
h4 {
  font-size: 0.9em;
  color: #999;
  margin-bottom: 0;
}
/*-------------------------------Header style ------------------*/
body {
  font: normal 18px/1.2 Arial, Helvetica, sans-serif;
}
section#content {
  background: #fff;
}
.home section#content {
  background: none;
}
header {
  padding: 10px 0;
  background: #000;
}
.logo {
  float: left;
  margin: 4px 0;
}
.main-nav {
  margin-top: 20px;
  font-family: futuramc;
}
.main-nav li {
  list-style: none;
  margin-left: 0;
  display: inline;
  float: left;
}
.main-nav li li a {
  color: #fff;
  font-size: 25px;
  padding: 10px 20px;
  text-transform: uppercase;
  text-align: center;
}
.main-nav li ul {
  background: none repeat scroll 0 0 #705f64;
  left: 50%;
  margin-left: -120px;
  top: auto;
  width: 240px;
  display: none;
  border-top: 20px solid #000;
}
.main-nav ul.sf-menu {
  float: none;
  margin-left: auto;
  margin-right: auto;
  display: table;
}
.main-nav > ul > li {
  color: #fff;
  font-size: 25px;
  padding: 20px 10px;
}
.main-nav > ul > li > a {
  color: #fff;
  padding: 5px 10px;
}
.main-nav > ul > li > a:hover {
  background: url("../img/dancinants.gif") bottom no-repeat;
  text-decoration: none;
}
.main-nav li ul:before {
  background: url("../img/nav-arrow.png") no-repeat scroll 0 0 transparent;
  content: "";
  height: 16px;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  top: -16px;
  width: 20px;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  left: 50% !important;
  top: auto !important;
  z-index: 99;
}
.bread_crumbs {
  font-size: 12px;
}
.sf-sub-indicator {
  display: none;
}
ul.unstyled-h li {
  margin-left: 0;
  list-style: none;
  float: left;
  display: inline;
}
ul.unstyled-v li {
  margin-left: 0;
  list-style: none;
}
.social ul {
  border-left: 2px dotted #fff;
  display: inline-block;
  float: left;
  left: -20px;
  margin-top: 0;
  padding: 20px 0 15px 30px;
  position: relative;
  margin-bottom: 0;
  margin-top: 20px;
}
.category-list li a {
  color: #737372;
  font-family: futura_medium;
  line-height: 1.5;
  font-size: 1.4em;
}
.social ul li {
  padding: 0 5px;
}
.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}
/*-------------------------------Content style ------------------*/
.inner {
  padding-top: 30px;
  padding-bottom: 30px;
}
.home .inner {
  padding-bottom: 0;
}
hr.big {
  border-width: 0 0 6px;
  border-color: #666;
  margin: 40px 0 5px;
}
.con-bg {
  background: rgba(255,255,255,0.6);
}
h2.post-title {
  margin-bottom: 0;
}
p.post-meta {
  color: #333;
  font-size: 12px;
  margin-bottom: 15px !important;
}
.slider img {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
.blog .date {
  width: 20%;
  float: left;
}
.post-date {
  background: #000;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  display: inline-block;
  color: #ccc;
  height: 100px;
  width: 100px;
  text-align: center;
  margin-top: 10px;
}
.post-date-day {
  display: inline-block;
  margin-top: 22px;
  font-size: 1.5em;
  line-height: 1;
  font-weight: bold;
}
.post-date-month {
  font-size: 0.8em;
  text-transform: uppercase;
}
.blog .entry {
  float: left;
  width: 80%;
  overflow: hidden;
}
.promotion {
  background: none repeat scroll 0 0 #fff;
  margin-bottom: 20px;
  padding: 10px;
  position: relative;
  display: table;
}
.promotion p {
  font-size: 1em;
}
.main-nav.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 1000;
}
.main-nav.fixed ul.sf-menu {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}
.overlay-wrap {
  position: relative;
  display: inline-block;
}
.overlay {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -ms-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.overlay .con {
  color: #fff;
  margin-top: -25px;
  position: relative;
  top: -50px;
  text-align: center;
  background: url("../img/plus.png") no-repeat center center #222;
  height: 50px;
  width: 50px;
  display: block;
  text-indent: -10000px;
  left: 50%;
  margin-left: -25px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  padding: 10px;
}
.ls-container {
  width: 100% !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.data {
  overflow: hidden;
}
.data a:hover {
  text-decoration: none;
}
.data:hover .overlay {
  display: block;
  opacity: 0.95;
  filter: alpha(opacity=95);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  transition-duration: 0.4s;
  background: rgba(0,0,0,0.7);
}
.one-fourth,
.two-fourth,
.three-fourth {
  margin-right: 3%;
  float: left;
}
.one-fourth {
  width: 22.75%;
}
.two-fourth {
  width: 48.5%;
}
.three-fourth {
  width: 74.25%;
}
.last {
  margin-right: 0 !important;
}
body.home .wrap {
  background: url("../img/top-bg.gif") repeat-x top;
}
.center {
  text-align: center;
}
#filters li {
  margin: 10px;
}
#filters li a.selected {
  color: #be1c22;
}
.gallery li {
  background: none repeat scroll 0 0 #fff;
  display: inline-block;
  list-style: none outside none;
  width: 25%;
  padding: 10px;
  text-align: center;
  float: left;
  height: 285px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.gallery .element {
  display: inline-block;
  list-style: none outside none;
  width: 25%;
  padding: 10px;
  text-align: center;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 220px;
}
#sidebar li {
  list-style: none;
}
.gallery .element .data,
.outer-shadow,
.gallery li,
.home-top {
  -webkit-box-shadow: 0 0 5px 3px rgba(0,0,0,0.4);
  box-shadow: 0 0 5px 3px rgba(0,0,0,0.4);
  padding: 10px;
  background: none repeat scroll 0 0 #fff;
  cursor: pointer;
}
.data h2 {
  margin: 0;
  padding-top: 5px;
}
.data p {
  margin-bottom: 0;
  font-size: 14px;
}
.gallery {
  margin-bottom: 30px;
  width: 100%;
}
.gallery li a {
  color: #000;
}
.gallery li a.overlay-wrap {
  margin-bottom: 20px;
  max-width: 100%;
}
.gallery .element .data {
  min-height: 291px;
}
.gallery .element .data:hover {
  background: #9b3a16;
}
.gallery .element .data:hover a,
.gallery .element .data:hover {
  color: #fff;
}
.gallery .element .data img {
  width: 100%;
}
.home .gallery .element {
  width: 33%;
  padding: 30px;
  min-width: 300px;
}
.full-bg {
  background: #fff;
}
div.title {
  background: url("../img/title-bg.png") repeat-x 0 32px #fff;
  text-align: center;
}
div.title h1 {
  background: none repeat scroll 0 0 #fff;
  display: inline-block;
  padding-left: 50px;
  padding-right: 50px;
}
.orange {
  color: #e76d18;
}
.orange-h {
  color: #e76d18;
  font-family: futura_medium;
  font-size: 1.5em;
  font-weight: normal;
}
.font-large {
  font-size: 1.3em;
}
.promotion2 {
  background: none repeat scroll 0 0 #ecf0f3;
  margin-bottom: 90px;
  padding: 10px 50px 75px;
  position: relative;
  margin-top: 20px;
  display: table;
}
.contact input[type=text],
.contact input[type=email],
.contact textarea {
  width: 90%;
  font-size: 1.5em;
  font-family: arial;
  text-transform: uppercase;
  outline: none;
}
.promotion-img {
  bottom: -60px;
  left: 50%;
  margin-left: -65px;
  position: absolute;
}
.tagcloud a {
  background: #ccc;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
}
.tagcloud a:hover {
  background: #666;
  color: #fff;
}
.gal-info {
  background: #ebebeb;
  padding: 20px 10px;
  color: #908c8c;
}
.gal-img {
  text-align: center;
}
.gal-thumb li {
  margin-bottom: 35px;
  width: auto;
  margin-left: 0;
  list-style: none;
}
.gal-thumb img {
  border: 25px solid #ebebeb;
}
.welcome {
  background: #f0f0f0;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 30px;
  margin-top: 10px;
  font-size: 1.8em;
  font-family: futura_medium;
}
.bg {
  background: #f5f3f0;
  padding: 30px;
}
.circle {
  width: 160px;
  height: 160px;
  background: #e9c42e;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  line-height: 160px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.circle:hover {
  cursor: pointer;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  transition-duration: 0.8s;
  background: #666;
  color: #fff;
}
.copy {
  padding: 20px 0;
}
.cols .footer-cols {
  width: 25%;
  float: left;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.three .footer-cols {
  width: 33%;
}
.portfolio-title {
  border-top: 1px solid #e0e1cd;
  border-bottom: 1px solid #e0e1cd;
  display: block;
  margin: 5px;
  margin-top: 15px;
  padding-top: 0;
  line-height: 2;
}
.wp-showcase li {
  border: 5px solid #eee;
}
.portfolio-content {
  padding: 30px;
}
.sider-info {
  background: #ebebeb;
  padding: 20px;
}
.contact * {
  text-align: center;
}
.gal-slider {
  margin-top: 20px;
}
/*-----------------------------form----------------------------------------*/
input[type=text],
input[type=email],
input[type=url] {
  border: none;
  padding: 10px;
  min-width: 200px;
  border: 1px solid #ccc;
  margin: 4px 0;
}
textarea {
  padding: 10px;
  border: 1px solid #ccc;
}
input[type=submit],
input[type=button] {
  background: #555;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 10px 20px;
}
input[type=submit]:hover,
input[type=button]:hover {
  background: #333;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/*-----------------------------Footer section------------------------------*/
footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
  text-align: left;
}
footer a:link,
footer a:visited {
  color: #fff;
}
.circle {
  text-align: center;
}
.sponsor {
  background: url("../img/sponsor-bg.jpg");
  text-align: center;
}
.sponsor a {
  margin: 0 10px;
}
.sponsor .title {
  background: url("../img/title-bg.png") repeat-x 0 32px;
}
.sponsor .title h1 {
  background: url("../img/sponsor-bg.jpg");
}
#back-top {
  position: fixed;
  bottom: 30px;
  z-index: 1000;
}
#back-top a {
  display: block;
  text-align: center;
  font: 11px/100% Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #bbb;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}
#back-top:hover {
  color: #000;
}
i.promotion-btn {
  position: absolute;
  top: 0;
  left: 1px;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  background: none;
  border: 2px solid #000;
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 275ms;
  -moz-transition-duration: 275ms;
  -o-transition-duration: 275ms;
  -ms-transition-duration: 275ms;
  transition-duration: 275ms;
  -webkit-transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
  -moz-transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
  -o-transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
  -ms-transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
  transition-timing-function: cubic-bezier(0.53, -0.67, 0.73, 0.74);
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
}
a:hover i.promotion-btn {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
  -moz-transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
  -o-transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
  -ms-transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}
a.crl {
  width: 100px;
  height: 100px;
  background: #000;
  display: inline-block;
  position: absolute;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
  margin-left: -50px;
}
body {
  max-width: 100%;
}
/* arrow icon (span tag) */
#back-top span {
  width: 50px;
  height: 50px;
  display: block;
  margin-bottom: 7px;
  background: #666 url("../img/to-top.png") no-repeat center center;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
}
#back-top a:hover span {
  background-color: #333;
}
.home-top {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* Responsive
-------------------------------------------------- */
/* Desktop large
------------------------- */
@media min-width 1100px {
  body {
    background: url("../img/main-bg.jpg");
  }
}
/* Desktop
------------------------- */
@media only screen and max-width 980px {
  .main-nav.fixed ul.sf-menu {
    width: auto;
  }
}
/* Tablet to desktop
------------------------- */
/* Tablet
------------------------- */
@media max-width 767px {
  .social ul {
    border-left: none;
  }
  .gallery li {
    float: left;
    margin: 20px 3%;
    max-width: 40%;
    padding: 25px 2%;
    width: 40%;
  }
  .blog .date {
    float: none;
  }
  .blog .entry {
    float: none;
    width: auto;
  }
  #page .inner {
    padding: 20px 0;
  }
  .responsiveMenuSelect {
    width: 90%;
    margin-top: 20px;
  }
  .home .inner {
    padding-top: 0;
  }
  .cols .footer-cols {
    width: 50%;
  }
  .sidebar {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
/* Landscape phones
------------------------- */
@media only screen and max-width 480px {
  .gallery li {
    display: block;
    float: none;
    width: auto;
    max-width: none;
  }
  .home .gallery .element {
    width: auto;
    float: none !important;
    clear: both;
    display: block;
    clear: both;
  }
  .gallery .element {
    width: auto;
    float: none;
    float: none;
    display: block;
  }
  .cols .footer-cols {
    width: 100%;
  }
  .one-fourth,
  .two-fourth,
  .three-fourth,
  .one-third,
  .two-third {
    width: auto;
    float: none;
    clear: both;
    display: block;
  }
}
@media only screen and min-width 35em {
}
@media only screen and -webkit-min-device-pixel-ratio 15,only screen and min-resolution 144dpi {
}
/* ==========================================================================
	 Print styles.
	 Inlined to avoid required HTTP connection  h5bp.com/r
	 ========================================================================== */
