input {
  border: none;
}
input[type=submit],
input[type=button] {
  background: #555;
  color: #fff;
  padding: 10px 20px;
}
input[type=submit]:hover,
input[type=button]:hover {
  background: #333;
  transition-duration: 0.3s;
}
#cf_custom span.wpcf7-not-valid-tip {
  left: 70%;
  margin-top: 50px;
  position: relative;
  top: 20%;
}
#cf_custom div.wpcf7-validation-errors {
  margin-top: 50px;
}
#cf_message {
  resize: vertical;
}
form * {
  font-family: 'Trade Gothic Next W01';
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  position: static;
}
form p {
  margin-bottom: 0 !important;
}
#cf_name,
#cf_email,
#cf_dropdown {
  height: 40px;
}
#cf_name,
#cf_email,
#cf_dropdown,
#cf_message {
  padding: 6px;
  margin: 5px 0;
  color: dark_gray;
  background-color: #fff;
  border: 3px solid #808080;
  box-sizing: border-box;
  font-weight: 900;
  width: 100%;
}
#cf_name:focus,
#cf_email:focus,
#cf_dropdown:focus,
#cf_message:focus {
  border-color: #ffd700;
}
