#portfolio-sidebar
	z-index 2
	position relative

	ul, li
		margin: 0

	.info li
		display: list-item

.wp-showcase
	padding: 15px
	margin: auto
	width: 85%

.flex-control-thumbs
	img
		width: 60px
		border: 5px solid transparent
		cursor pointer

		&.flex-active
			border: 5px solid #d0b312

#controlsContainer
	margin 0

.wp-showcase-gallery li, .wp-showcase li
	border: 5px solid transparent

#portfolio-sidebar, .flexslider
	display: inline-block
	vertical-align: top

#portfolio-sidebar, .flexslider div
	background: white
	padding: 5px
	margin: 15px
	box-shadow 0 0 10px black

.slides
	display inline-block

#portfolio-sidebar
	width: 150px
	margin-right -165px

.flexslider
	padding-left 180px

	li
		margin: 0

.wp-showcase-gallery
	background: none

#image_tags, #image_title
	margin 5px

#image_title
	font-size 25px
	padding 0
	font-weight 100
	display inline-block

#image_tags
	float right
	font-size 10px
	color white
	padding 9px 0

	span
		background black
		border-radius 10px
		padding 5px
		margin 0 5px
