#portfolio-sidebar {
  z-index: 2;
  position: relative;
}
#portfolio-sidebar ul,
#portfolio-sidebar li {
  margin: 0;
}
#portfolio-sidebar .info li {
  display: list-item;
}
.wp-showcase {
  padding: 15px;
  margin: auto;
  width: 85%;
}
.flex-control-thumbs img {
  width: 60px;
  border: 5px solid transparent;
  cursor: pointer;
}
.flex-control-thumbs img.flex-active {
  border: 5px solid #d0b312;
}
#controlsContainer {
  margin: 0;
}
.wp-showcase-gallery li,
.wp-showcase li {
  border: 5px solid transparent;
}
#portfolio-sidebar,
.flexslider {
  display: inline-block;
  vertical-align: top;
}
#portfolio-sidebar,
ul.slides {
  padding: 5px;
  margin: 15px;
  background: #fff;
  box-shadow: 0 0 10px #000;
}
#portfolio-sidebar {
  width: 150px;
  margin-right: -165px;
}
.flexslider {
  padding-left: 180px;
}
.flexslider li {
  margin: 0;
}
.wp-showcase-gallery {
  background: none;
}
#image_tags,
#image_title {
  margin: 5px;
}
#image_title {
  font-size: 25px;
  padding: 0;
  font-weight: 100;
  display: inline-block;
}
#image_tags {
  float: right;
  font-size: 10px;
  color: #fff;
  padding: 9px 0;
}
#image_tags span {
  background: #000;
  border-radius: 10px;
  padding: 5px;
  margin: 0 5px;
}
