#portfolio-sidebar
	z-index 2
	position relative

	ul, li
		margin: 0

	.info li
		display: list-item

.wp-showcase
	padding: 15px
	margin: auto
	width: 85%

.wp-showcase-gallery img
	width: 60px

.wp-showcase-gallery li, .wp-showcase li
	border: 5px solid transparent


#portfolio-sidebar, .flexslider
	display: inline-block
	vertical-align: top

#portfolio-sidebar, ul.slides
	padding: 5px
	margin: 15px
	background: white
	box-shadow 0 0 10px black

#portfolio-sidebar
	width: 150px
	margin-right -165px


.flexslider
	//width: 60%
	padding-left 180px

	li
		margin: 0

.wp-showcase-gallery
	background: none
