header
	padding 10px 0
	background black


nav, .social
	li
		list-style none
		margin 0
		display inline-block
		padding 0 5px

.social
	border-left 2px dotted white

	a
		width 35px
		height 35px
		display inline-block
		background-repeat no-repeat
		background-position left top
		transition-duration .3s
		text-indent -10000px

		&:hover
			background-position 0 -40px

nav
	a
		padding 0

		&, &:hover, &:visited, &:link
			font-size 25px
			color white
			font-family futuramc
			text-transform uppercase
			text-decoration none

	ul ul
		margin 0
		left 50%
		margin-left -120px
		width 240px
		padding-top 16px
		opacity 0
		transition-duration .3s
		transition-property opacity
		position absolute
		z-index -1

		&:before
			background url('../img/nav-arrow.png') no-repeat scroll 0 0 transparent
			content ""
			height 16px
			left 50%
			margin-left -10px
			position absolute
			top 0
			width 20px

		li
			display block
			background: none repeat scroll 0 0 #496ea2
			text-align center
			padding 8px 10px

			a:hover
				text-decoration underline

	> ul > li
		position relative

		&:hover
			background url('../img/dancinants.gif') bottom no-repeat

			ul
				display block
				opacity 1
				z-index 99

	&.fixed
		position fixed
		top 0
		left 0
		width 100%
		background rgba(0,0,0,0.8)
		z-index 1000

#logo, nav, .social
	padding 10px 20px
	display inline-block
	vertical-align middle

.sf-sub-indicator
	display none