header
	padding 10px 0
	background black

select.responsiveMenuSelect
	width auto
	margin 10px

.social
	border-left 2px dotted white

	a
		width 35px
		height 35px
		display inline-block
		background-repeat no-repeat
		background-position left top
		transition-duration .3s
		text-indent -10000px

		&:hover
			background-position 0 -40px

#logo, nav > ul
	padding 10px 20px
	vertical-align middle
	display inline-block

@media only screen and (max-width: 500px)
	#logo, nav
		display block
		text-align center

	.social
		border-left none

nav
	a
		padding 0
		font-size 30px
		font-family futuramc

		&:hover, &:visited, &:link
			color white
			text-decoration none

	li
		list-style none
		margin 0
		display inline-block
		transition-property padding
		transition-duration 0.5s
		padding 0 5px

		@media only screen and (min-width: 1000px)
			padding 0 15px

	ul ul
		arrow_height = 16px
		sub_menu_width = 220px

		margin 0
		position absolute
		left 50%
		width sub_menu_width
		margin-left -(sub_menu_width / 2)
		padding-top arrow_height
		opacity 0
		transition-property opacity
		transition-duration .3s
		z-index -1

		&:before
			background url('../img/nav-arrow.png') no-repeat scroll 0 0 transparent
			content ""
			height arrow_height
			left 50%
			margin-left -10px
			position absolute
			top 0
			width 20px

		li
			display block
			background: none repeat scroll 0 0 #496ea2
			text-align center
			padding 8px 10px

			a:hover
				text-decoration underline

	> ul > li
		position relative

		&:hover
			background url('../img/dancinants.gif') bottom no-repeat

			ul
				display block
				opacity 1
				z-index 99

	&.fixed
		position fixed
		top 0
		left 0
		width 100%
		background rgba(0,0,0,0.8)
		z-index 1000

.sf-sub-indicator
	display none
